<div style="position: fixed; top: 0; z-index: 100; width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand text-success fw-bolder" href="#">Customer Dashboard</a>
  
  
        <div class="d-flex ms-auto align-items-center">
     
       
          
  
  
          <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        
     
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            
           
            <li class="nav-item">
              <a class="nav-link" routerLink="/createpin">Create transfer pin</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/deposit">Deposit</a>
              </li>

            <li class="nav-item">
              <button (click)="signout()" class="btn btn-outline-danger">Sign Out</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
